<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="zh-CN">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../static/fonts/Font-Awesome-3.2.1/css/font-awesome.min.css">

    <title>登录配置个人云存储</title>

</head>
<body>

    <form class="form-horizontal">
        <fieldset>
            <div id="legend" class="">
                <legend class="">network</legend>
            </div>


            <div class="control-group">

                <!-- Text input-->
                <label class="control-label" for="input01">input</label>
                <div class="controls">
                    <input type="text" id="input01" placeholder="" name="ip" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" type="submit">Button</button>
                </div>
            </div>

        </fieldset>
    </form>

<script src="../../static/js/jquery-1.11.2.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>