<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="zh-CN">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="static/fonts/Font-Awesome-3.2.1/css/font-awesome.min.css">
    <link href="static/css/dashboard.css" rel="stylesheet">

    <title>配置个人云存储</title>
</head>


