<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GB18030"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, td, th, tr {
            border: 1px solid #4BACC6;
            font-size: 10pt;
            text-align: center;
        }

        .header {
            background: #d2eaf1;
            font-weight: bold;
            text-align: center;
        }

        .title {
            font-size: 11pt;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<script type="text/javascript"> function resetContent() {
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth() < 9 ? "0" + (today.getMonth() + 1) : today.getMonth() + 1;
    var date = today.getDate() < 10 ? "0" + today.getDate() : today.getDate();
    var page = year.toString() + month.toString() + date.toString() + "/index_vod.html";
    document.getElementById('frame_content').src = page;
}
window.onload = resetContent;
</script>
<div>
    <div style="float:left;width:100px;">
        <table>
            <thead>
            <tr>
                <th class="title">Navigator</th>
            </tr>
            <tr class="header">
                <th>Date</th>
            </tr>
            </thead>
            <tr>
                <td><a href="20150301/index_vod.html" target="frame_content">20150301<a></td>
            </tr>
            <tr>
                <td><a href="20150302/index_vod.html" target="frame_content">20150302<a></td>
            </tr>
            <tr>
                <td><a href="20150303/index_vod.html" target="frame_content">20150303<a></td>
            </tr>
            <tr>
                <td><a href="20150304/index_vod.html" target="frame_content">20150304<a></td>
            </tr>
            <tr>
                <td><a href="20150305/index_vod.html" target="frame_content">20150305<a></td>
            </tr>
            <tr>
                <td><a href="20150306/index_vod.html" target="frame_content">20150306<a></td>
            </tr>
            <tr>
                <td><a href="20150307/index_vod.html" target="frame_content">20150307<a></td>
            </tr>
            <tr>
                <td><a href="20150308/index_vod.html" target="frame_content">20150308<a></td>
            </tr>
            <tr>
                <td><a href="20150309/index_vod.html" target="frame_content">20150309<a></td>
            </tr>
            <tr>
                <td><a href="20150310/index_vod.html" target="frame_content">20150310<a></td>
            </tr>
            <tr>
                <td><a href="20150311/index_vod.html" target="frame_content">20150311<a></td>
            </tr>
            <tr>
                <td><a href="20150312/index_vod.html" target="frame_content">20150312<a></td>
            </tr>
            <tr>
                <td><a href="20150313/index_vod.html" target="frame_content">20150313<a></td>
            </tr>
            <tr>
                <td><a href="20150314/index_vod.html" target="frame_content">20150314<a></td>
            </tr>
            <tr>
                <td><a href="20150315/index_vod.html" target="frame_content">20150315<a></td>
            </tr>
            <tr>
                <td><a href="20150316/index_vod.html" target="frame_content">20150316<a></td>
            </tr>
            <tr>
                <td><a href="20150317/index_vod.html" target="frame_content">20150317<a></td>
            </tr>
            <tr>
                <td><a href="20150318/index_vod.html" target="frame_content">20150318<a></td>
            </tr>
            <tr>
                <td><a href="20150319/index_vod.html" target="frame_content">20150319<a></td>
            </tr>
            <tr>
                <td><a href="20150320/index_vod.html" target="frame_content">20150320<a></td>
            </tr>
            <tr>
                <td><a href="20150321/index_vod.html" target="frame_content">20150321<a></td>
            </tr>
            <tr>
                <td><a href="20150322/index_vod.html" target="frame_content">20150322<a></td>
            </tr>
            <tr>
                <td><a href="20150323/index_vod.html" target="frame_content">20150323<a></td>
            </tr>
            <tr>
                <td><a href="20150324/index_vod.html" target="frame_content">20150324<a></td>
            </tr>
            <tr>
                <td><a href="20150325/index_vod.html" target="frame_content">20150325<a></td>
            </tr>
            <tr>
                <td><a href="20150326/index_vod.html" target="frame_content">20150326<a></td>
            </tr>
            <tr>
                <td><a href="20150327/index_vod.html" target="frame_content">20150327<a></td>
            </tr>
            <tr>
                <td><a href="20150328/index_vod.html" target="frame_content">20150328<a></td>
            </tr>
            <tr>
                <td><a href="20150329/index_vod.html" target="frame_content">20150329<a></td>
            </tr>
        </table>
    </div>
    <div style="float:left;width:auto;">
        <iframe
                style="width:1000px;height:800px" id="frame_content" name="frame_content" scrolling="yes"
                frameborder="0">
        </iframe>
    </div>
</div>
</body>
</html>